absl-py==1.4.0
accelerate==0.20.3
addict==2.4.0
albumentations==1.3.0
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
altair==5.0.1
antlr4-python3-runtime==4.9.3
anyio==3.7.0
anykeystore==0.2
apex==0.9.10.dev0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
art==6.1
at==0.0.3
attrs==23.1.0
av==10.0.0
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
blessings==1.7
blinker==1.6.3
blis==0.7.11
braceexpand==0.1.7
brotlipy==0.7.0
cachetools==5.3.0
catalogue==2.0.10
certifi==2024.2.2
cffi @ file:///croot/cffi_1670423208954/work
cfgv==3.3.1
cftime==1.6.2
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646056591685/work
clip==0.2.0
cloudpathlib==0.16.0
cloudpickle==2.2.1
colorama==0.4.6
confection==0.1.4
contexttimer==0.3.3
crcmod==1.7
cryptacular==1.6.2
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
cymem==2.0.8
debugpy==1.6.7
decorator==4.4.2
decord==0.6.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
-e git+https://github.com/facebookresearch/detectron2@b7c7f4ba82192ff06f2bbb162b9f67b00ea55867#egg=detectron2
distlib==0.3.8
docker==6.1.3
efficientnet-pytorch==0.7.1
einops==0.6.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649908585034/work
ever-beta==0.2.3
ever-given==0.0.14
exceptiongroup==1.1.1
fairscale==0.4.4
fastjsonschema==2.17.1
filelock==3.12.2
fonttools==4.38.0
fsspec==2023.1.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.17.1
google-auth-oauthlib==0.4.6
gpustat==0.6.0
greenlet==3.0.3
grpcio==1.53.0
h5py==3.8.0
huggingface-hub==0.16.4
hupper==1.12.1
hydra-core==1.3.2
identify==2.5.24
idna @ file:///croot/idna_1666125576474/work
imageio==2.26.1
imageio-ffmpeg==0.4.9
importlib-metadata==6.7.0
importlib-resources==5.12.0
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.0.6
jedi==0.18.2
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==0.10.0
joblib==1.2.0
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console==6.6.3
jupyter-server==1.24.0
jupyter_client @ file:///croot/jupyter_client_1676329080601/work
jupyter_core==4.12.0
jupyterlab @ file:///croot/jupyterlab_1675354114448/work
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
jupyterlab_server @ file:///croot/jupyterlab_server_1677143054853/work
kaggle==1.6.3
kiwisolver==1.4.4
kornia==0.6.12
langcodes==3.3.0
libtiff==0.4.2
loguru==0.7.2
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
mat4py==0.6.0
matplotlib==3.5.3
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
MedPy==0.4.0
mistune==2.0.5
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
mmcv==2.1.0
mmcv-full==1.7.2
mmdet==3.3.0
mmengine==0.10.1
mmpretrain==1.2.0
mmsegmentation==1.2.2
model-index==0.1.11
modelindex==0.0.2
moviepy==1.0.3
munch==4.0.0
murmurhash==1.0.10
mypy-extensions==1.0.0
natsort==8.4.0
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.4.0
nbformat==5.8.0
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
netCDF4==1.6.1
networkx==2.6.3
nltk==3.8.1
nodeenv==1.8.0
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.21.6
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.2.5.6
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py3==7.352.0
oauthlib==3.2.2
omegaconf==2.3.0
-e git+https://github.com/likyoo/open-cd.git@c515700005102ac4ce6def648a7d93563fde74c3#egg=opencd
opencv-python==4.6.0.66
opencv-python-headless==4.5.5.64
opendatalab==0.0.10
opendatasets==0.1.22
openmim==0.3.9
openxlab==0.0.10
ops==1.5.5
ordered-set==4.1.0
oss2==2.17.0
packaging==23.0
pandas==1.1.5
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parameterized==0.9.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partial==1.0
PasteDeploy==3.1.0
pathspec==0.11.2
pbkdf2==1.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.2.0
pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
plaster==1.1.2
plaster-pastedeploy==1.0.1
platformdirs==3.1.1
plotly==5.18.0
ply==3.11
portalocker==2.7.0
pre-commit==2.21.0
prefetch-generator==1.0.3
preshed==3.0.9
pretrainedmodels==0.7.4
prettytable==3.6.0
proglog==0.1.10
prometheus-client==0.17.0
prompt-toolkit==3.0.38
protobuf==3.20.3
psutil==5.9.1
ptflops==0.7
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py-cpuinfo==9.0.0
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycm==4.0
pycocoevalcap==1.2
pycocotools==2.0.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.19.0
pydantic==1.10.13
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
PyQt5-sip==12.11.0
pyramid==2.0.2
pyramid-mailer==0.15.1
pyre-extensions==0.0.29
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1594394576006/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-magic==0.4.27
python-slugify==8.0.1
python3-openid==3.2.0
pytorch-toolbelt==0.6.3
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@1fadaef40dd393ca09680f55582399f4679fc9b7
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
PyWavelets==1.3.0
PyYAML==6.0.1
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
qudida==0.0.4
regex==2022.10.31
repoze.sendmail==4.4.1
requests==2.28.2
requests-oauthlib==1.3.1
rich==13.7.0
rsa==4.9
safetensors==0.3.2
salesforce-lavis==1.0.2
scikit-image==0.17.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
Send2Trash==1.8.2
sentencepiece==0.1.99
setproctitle==1.3.3
shapely==2.0.3
SimpleITK==2.2.1
simplejson==3.19.2
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sk-video==1.1.10
skipthoughts==0.0.1
-e git+https://github.com/facebookresearch/SlowFast.git@2efb99faa254075b4e28d3d4f313052b51da05bc#egg=slowfast
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.4.1
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.29
srsly==2.4.8
streamlit==1.23.1
tabulate==0.9.0
tb-nightly==2.12.0a20230113
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==2.3.0
terminado @ file:///croot/terminado_1671751832461/work
terminaltables==3.1.10
testpath @ file:///opt/conda/conda-bld/testpath_1655908557405/work
text-unidecode==1.3
thinc==8.2.2
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tifffile==2021.11.2
timm==0.4.12
tinycss2==1.2.1
tokenizers==0.13.3
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz==0.12.0
torch==1.13.1
torchaudio==0.13.1
torchcam==0.3.2
torchgeo==0.4.1
torchmetrics==0.11.4
torchvision==0.14.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm==4.65.2
traitlets==5.9.0
transaction==4.0
transformers==4.26.1
transformers-stream-generator==0.0.4
translationstring==1.4
triton-nightly==2.1.0.post20240108192258
ttach==0.0.3
typed-ast==1.5.5
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2023.4
tzlocal==4.3.1
ultralytics==8.0.145
urllib3==1.26.15
validators==0.20.0
velruse==1.1.1
venusian==3.1.0
virtualenv==20.21.1
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.3.4
webdataset==0.2.86
webencodings==0.5.1
WebOb==1.8.7
websocket-client==1.5.2
Werkzeug==2.2.3
widgetsnbextension==4.0.7
WTForms==3.0.1
wtforms-recaptcha==0.3.2
yacs==0.1.8
yapf==0.40.2
zipp==3.15.0
zope.deprecation==5.0
zope.interface==6.2
zope.sqlalchemy==3.1
